.header{
  width: 1920px;
  height: 120px;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'NanumGothic';
}
.t1{
  width: 310px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
  color: #888;
}
.t1 p{
  height: 14px;
  display: flex;
  margin-right: 20px;
  font-weight: bold;
  border-right: 1px solid #999;
  padding-right: 20px;
  box-sizing: border-box;
}
.t1 p:hover{
  color: #0096ff;
}
.t1 p:nth-child(3){
  border: none;
}
.t1 img{
  width: 190px;
  height: 90px;
  margin-top: 30px;
  margin-left: 30px;
}


input[type=text]{
  width: 400px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #0096ff;
  padding-left: 20px;
  box-sizing: border-box;
  float: left;
}
input[type=image]{
  width: 25px;
  height: 25px;
  margin-left: -50px;
  margin-top: 7px;
}


.t3{
  color: #666;
  min-width: 310px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-right: 170px;
  font-weight: bold;
  position: relative;
  /*outline: 1px solid violet;*/
}
.t3 > .t01{
  height: 15px;
  margin-right: 8px;
  color: #888;
  /*outline: 1px solid green;*/
}
.t3 > .t01 p:hover{
  color: #111;
}
.t3 > .t02{
  height: 30px;
  color: #333;
  display: flex;
  align-items: center;
  margin-right: 50px;
  position: absolute;
  top: 40px;
  right: 0px;
 /*outline: 1px solid green;*/
}


.t3 > .t02 p:nth-child(1):after {/*after 가상요소*/
  display:block;/*a요소를 블록 요소라고 선언*/
  width: 39px;
  /*카테고리 메뉴 밑줄의 크기를 동일하게 주기 위해 width 설정*/
  /*혹시 a요소 크기만큼 생기길 바란다면 width 삭제*/
  content: ''; /*comtent안은 밑줄 디자인을 위해 비워두세요.*/
  border-bottom: solid 2px #0096ff;
  transform: scaleX(0); /*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
  transition: transform 0.3s ease-in-out; /*변형 방식*/
  padding-bottom: 3px;
  box-sizing: border-box;
}
.t3 > .t02 p:nth-child(2):after {/*after 가상요소*/
  display:block;/*a요소를 블록 요소라고 선언*/
  width: 52px;
  /*카테고리 메뉴 밑줄의 크기를 동일하게 주기 위해 width 설정*/
  /*혹시 a요소 크기만큼 생기길 바란다면 width 삭제*/
  content: ''; /*comtent안은 밑줄 디자인을 위해 비워두세요.*/
  border-bottom: solid 2px #0096ff;
  transform: scaleX(0); /*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
  transition: transform 0.3s ease-in-out; /*변형 방식*/
  padding-bottom: 3px;
  box-sizing: border-box;
}
.t3 > .t02 p:hover:after {
  transform: scaleX(1); /*a 속성에 hover시 after를 기존 크기로 변경*/
}


.t3 > .t02 img{
  width: 35px;
  height: 35px;
}
.t3 > .t02 > .login{
  margin-left: 174px;
  position: absolute;
  opacity: 0;
  right: 0;
  /*opacity: 0;*/
}
.t3 > .t02 > .login:hover{
  transition: all 0.2s;
  opacity: 1;
}

.t3 p:nth-child(4){
  border: none;
  padding: n;
}
.t3 p:nth-child(5){
  border: none;
}
.t3 p{
  height: 14px;
  margin-right: 20px;
  border-right: 1px solid #999;
  padding-right: 20px;
  box-sizing: border-box;
}
.t3 > .t01{
  display: flex;
}
.t3 > .t02{
  display: flex;
}