/*=================================== slideBar ===================================*/
#wrap > .slideBar{
  width: 350px;
  height: 1750px;
  padding-left: 10px;
  float: left;
  box-sizing: border-box;
  cursor: pointer;
  /*outline: 1px solid blue;*/
}

.slideBar > .ticket{
  width: 350px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid #333;
  padding: 25px 0px;
  position: relative;
} /*이용권 구매 끝*/
.slideBar > .ticket img{
  position: absolute;
  width: 30px;
  margin-left: 25px;
}
.slideBar > .ticket > .icon{
  position: absolute;
  /*opacity: 0;*/
  opacity: 0;
  margin-right: 360px;
} 
.slideBar > .ticket > .icon:hover{
  transition: all 0.1s;
  opacity: 1;
}
.slideBar > .ticket .txt{
  display: flex;
  margin-left: 60px;
}
.slideBar > .ticket .txt p{
  height: 14px;
  margin-top: 2px;
  border-right: 1px solid #999;
  padding-right: 15px;
  margin-left: 15px;
}
.slideBar > .ticket > .txt p:hover{
  color: #0096ff;
}
.slideBar > .ticket p:last-child{
  border: none;
}
.slideBar > .menu{
  width: 270px;
  margin-left: 40px;
  margin-top: 30px;
  font-size: 14px;
  color: #555;
  /*border: 1px solid violet;*/
}
.slideBar > .menu > .list{
  width: 270px;
  display: flex;
  /*align-items: center;*/
  padding-bottom: 10px;
  box-sizing: border-box;
}
.slideBar > .menu > .list:hover{
  width: 270px;
  display: flex;
  /*align-items: center;*/
  padding-bottom: 10px;
  box-sizing: border-box;
}
.slideBar > .menu > .list > .icon img{
  margin-top: -4px;
}
.slideBar > .menu > .list > .icon img:first-child{
  width: 30px;
  margin-right: 30px;
}
.menu > .list{
  position: relative;
}
.menu > .list > .icon{
  margin-bottom: 10px;
}
.menu > .list > .icon img{
  position: absolute;
}
.menu > .list > .icon > .icon2{
  position: absolute;
  opacity: 0;
}
.menu > .list:hover > .icon > .icon2{
  transition: all 0.3s;
  opacity: 1;
}
.slideBar > .menu > .list p{
  color: #111;
  font-weight: bold;
  margin-left: 60px;
}
.slideBar > .menu > .list:hover p{
  color: #0096ff;
}
.slideBar > .menu > .list > .up img{
  width: 15px;
  margin-left: 130px;
  /*border: 1px solid red;*/
}
.slideBar > .menu > .list > .up2 img{
  width: 15px;
  margin-left: 140px;
  /*border: 1px solid green;*/
}
.slideBar > .menu > .list > .up3 img{
  width: 15px;
  margin-left: 147px;
  /*border: 1px solid blue;*/
}
.slideBar > .menu > .list > .up4 img{
  width: 15px;
  margin-left: 143px;
  /*border: 1px solid red;*/
}
.slideBar > .menu > .list > .upcolor img{
  width: 15px;
  margin-left: -15px;
  position: absolute;
  margin-top: 3px;
  opacity: 0;
  /*opacity: 0;*/
}
.slideBar > .menu > .list:hover > .upcolor img{
  opacity: 1;
}


.slideBar > .menu > .on > a > img{ /*.list에 on클래스 추가되면 확장 버튼을 회전시킴*/
  transform:rotate(180deg); /* !!! 쌤이 주석 달아준 부분임 !!! */
}
.slideBar > .menu > .txt li{
  margin-left: 60px;
  line-height: 30px;
  font-weight: 400;
}
.slideBar > .menu > .txt li:hover{
  color: #111;
  font-weight: bold;
}
.slideBar > .menu > .txt li:first-child{
  border-top: 1px solid #999;
  padding-top: 10px;
  box-sizing: border-box;
}


/*=================================== musicBar ===================================*/
.musicBar{
  min-width: 230px;
  height: 370px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #b0bdc6;
  margin-left: 1625px;
  margin-top: 15px;
  position: fixed;
  /*position: fixed;*/
}
.musicBar > .bar{
  width: 210px;
  margin: auto;
  /*outline: 1px solid violet;*/
}
.musicBar > .playlist{
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.musicBar > .playlist img{
  width: 30px;
}
.musicBar > .bar > .list{
  padding-top: 50px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'NanumGothic';
}
.musicBar > .bar > .list p:nth-child(2){
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-top: 14px;
}
.musicBar > .bar > .list p:nth-child(3){
  font-size: 15px;
  color: #666;
  font-weight: 500;
  margin-top: 5px;
}
.musicBar > .bar > .list img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
  cursor: pointer;
  animation: list 8s linear infinite;
}
@keyframes list{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
.musicBar > .bar > .playBar{
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  cursor: pointer;
}
.musicBar > .bar > .playBar img{
  width: 25px;
  height: 25px;
}
.musicBar > .bar > .playBar img:nth-child(2){
  width: 30px;
  height: 30px;
  margin: 0px 20px
}
.musicBar > .bar > .playBar img:nth-child(3){
  rotate: 180deg;
}
.musicBar > .bar > .barBox{
  width: 160px;
  height: 3px;
  margin: auto;
  margin-top: 18px;
  background-color: #c8c8c8;
  cursor: pointer;
}
.musicBar > .bar > .barBox > .bar{
  width: 80px;
  height: 3px;
  background-color: #0096ff;
}
.musicBar > .bar > .barBox > .bar > .circle{
  width: 10px;
  height: 10px;
  background-color: #0096ff;
  border-radius: 50%;
  position: absolute;
  right: 110px;
  top: 335px;
}


/*=================================== title ===================================*/
.contain{
  margin-left: 350px;
  width: 1200px;
  margin-top: 70px;
  /*outline: 1px solid coral;*/
}

.title{
  margin-left: 40px;
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.title h1{
  font-size: 40px;
  margin-right: 30px;
}
.title p{
  font-size: 25px;
  margin-right: 20px;
  color: #888;
}
.title p:nth-child(2){
  color: #0096ff;
}
.title p:hover{
  color: #0096ff;
}


/*=================================== recomm ===================================*/
.recomm{
  margin-left: 40px;
  margin-top: 70px;
  height: 360px;
  position: relative;
  /*outline: 1px solid coral;*/
}
.recomm > .txt{
  display: flex;
  justify-content: space-between;
}
.recomm > .txt h2{
  font-size: 35px;
}
.recomm > .txt > .arrow{
  cursor: pointer;
}
.recomm > .txt > .arrow > .arrow01{
  margin-right: 15px;
}
.recomm > .txt > .arrow > .arrow1{
  position: absolute;
  margin-left: -69px;
  opacity: 0;
}
.recomm > .txt > .arrow > .arrow1:hover{
  transition: all 0.3s;
  opacity: 1;
}
.recomm > .txt > .arrow > .arrow2{
  position: absolute;
  margin-left: -50px;
  opacity: 0;
}
.recomm > .txt > .arrow > .arrow2:hover{
  transition: all 0.3s;
  opacity: 1;
}

.program{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #666;
  font-size: 25px;
  cursor: pointer;
}
.program > .circle img{
  width: 200px;
  height: 200px;
}
.program > .circle > .bigCircle{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #0096ff;
  position: absolute;
  margin-left: 8px;
  margin-top: 8px;
  opacity: 0;
}
.program > .circle:hover{
  transition: all 0.1s;
  scale: 1.1;
}
.program > .circle:hover > .bigCircle{
  transition: all 0.1s;
  scale: 1.1;
  opacity: 1;
}

.program > .circle:hover p{
  color: #0096ff;
}
.program p{
  margin-top: 10px;
}


/*=================================== hot_fun ===================================*/
.hot_fun{
  margin-left: 40px;
  margin-top: 100px;
  height: 365px;
  /*outline: 1px solid coral;*/
}
.hot_fun > .txt h2{
  font-size: 35px;
}
.hot_fun > .txt{
  display: flex;
  justify-content: space-between;
}
.hot_fun > .txt > .arrow{
  cursor: pointer;
}
.hot_fun > .txt > .arrow > .arrow01{
  margin-right: 15px;
}
.hot_fun > .txt > .arrow > .arrow1{
  position: absolute;
  margin-left: -69px;
  opacity: 0;
}
.hot_fun > .txt > .arrow > .arrow1:hover{
  transition: all 0.3s;
  opacity: 1;
}
.hot_fun > .txt > .arrow > .arrow2{
  position: absolute;
  margin-left: -50px;
  opacity: 0;
}
.hot_fun > .txt > .arrow > .arrow2:hover{
  transition: all 0.3s;
  opacity: 1;
}
.hot_fun > .hot{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}


.hot_fun > .hot > .fun{
  width: 280px;
  height: 280px;
  background:none;
  border:0;
  box-sizing: border-box;
  padding:1em 4em;
  box-shadow:inset 0 0 0 1px #fff;/*요소의 안쪽으로 외곽선을 표현하기 위해 border가 아닌 box-shadow로 외곽선을 표현*/
  position:relative;
  transition:color 0.25s;/*.fun요소의 color속성이 변경되면 0.25초 동안 변경됨*/
  border-top-left-radius: 20px;
  border-end-end-radius: 20px;
}
.fun:hover{color:#0096ff;}/*버튼에 마우스를 올려놓으면 color속성 변경*/

.fun::before,
.fun::after{/*버튼요소의 자손으로 가상요소 생성*/
  content:"";
  box-sizing:inherit;
  position:absolute;
  border: 4px solid transparent;
  width:0; 
  height:0;
  z-index: 999;
}
.fun::before{top:0; right:0;}
.fun::after{bottom:0; right:0;}

.fun:hover::before,
.fun:hover::after{/*버튼에 마우스를 올려놓으면 그자손인 가상요소의 크기를 부모의 크기만큼 늘려줍니다.*/
  width: 100%;
  height: 100%;
}

.fun:hover::before{
  border-top-color: #0096ff;
  border-right-color:#0096ff;
  border-top-left-radius: 20px;
  border-end-end-radius: 20px;
  transition:width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.fun:hover::after{
  border-bottom-color:#0096ff;
  border-left-color:#0096ff;
  border-top-left-radius: 20px;
  border-end-end-radius: 20px;
  transition:border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}



/*fun1*/
.hot > .fun > .fun1{
  position: absolute;
  left: 0;
  top: 0;
}
.hot > .fun > .fun1 img{
  width: 280px;
  height: 150px;
  border-top-left-radius: 20px;
  cursor: pointer;
}
.hot > .fun > .fun1 > .txtBox{
  width: 45px;
  height: 25px;
  background-color: #0096ff;
  border-end-start-radius: 10px;
  position: absolute;
  margin-left: 235px;
}
.hot > .fun > .fun1 > .txtBox p{
  color: #fff;
  margin-top: 5px;
  margin-left: 8px;
}

/*fun2*/
.hot > .fun > .fun2{
  width: 280px;
  height: 130px;
  background-color: #f1f1f1;
  border-end-end-radius: 20px;
  position: absolute;
  top: 148px;
  left: 0px;
}
.hot > .fun > .fun2 > .funTxt{
  width: 280px;
  height: 130px;
  padding: 20px 30px;
  box-sizing: border-box;
}
.fun2 > .funTxt p:nth-child(1){
  font-size: 22px;
}
.fun2 > .funTxt p:nth-child(2){
  font-size: 18px;
  color: #666;
  margin-top: 15px;
}
.fun2 > .funTxt > .icon{
  display: flex;
  margin-top: 15px;
}
.fun2 > .funTxt > .icon img{
  width: 20px;
  height: 20px;
}
.fun2 > .funTxt > .icon > .icon1{
  display: flex;
}
.fun2 > .funTxt > .icon > .icon2{
  display: flex;
  margin-left: 20px;
}
.fun2 > .funTxt > .icon p{
  font-size: 20px;
  color: #aaa;
  margin-left: 10px;
  margin-top: 0px;
}


/*=================================== popular_video ===================================*/
.popular_video{
  margin-left: 40px;
  margin-top: 100px;
  height: 1280px;
  /*outline: 1px solid coral;*/
}
.popular_video > .txt h2{
  font-size: 35px;
}
.popular_video > .txt{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.popular_video > .txt > .middleTxt{
  display: flex;
  align-items: flex-end;
}
.popular_video > .txt > .middleTxt h2{
  margin-right: 30px;
}
.popular_video > .txt > .middleTxt p{
  margin-right: 20px;
  font-size: 20px;
  color: #999;
  cursor: pointer;
}
.popular_video > .txt > .middleTxt p:nth-child(2){
  color: #0096ff;
}
.popular_video > .txt > .middleTxt p:hover{
  color: #0096ff;
}
.popular_video > .txt > .moreVideo{
  display: flex;
  align-items: center;
}
.popular_video > .txt > .moreVideo img{
  width: 15px;
  height: 8px;
  margin-left: 15px;
}
.popular_video > .txt > .moreVideo p{
  color: #0096ff;
  /*border-bottom: 1px solid #0096ff;*/
  cursor: pointer;
}

.moreVideo > p:after {/*after 가상요소*/
  display:block;/*a요소를 블록 요소라고 선언*/
  width: 132px;
  /*카테고리 메뉴 밑줄의 크기를 동일하게 주기 위해 width 설정*/
  /*혹시 a요소 크기만큼 생기길 바란다면 width 삭제*/
  content: ''; /*comtent안은 밑줄 디자인을 위해 비워두세요.*/
  border-bottom: solid 2px #0096ff;
  transform: scaleX(0); /*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
  transition: transform 0.3s ease-in-out; /*변형 방식*/
}
.moreVideo > p:hover:after {
  transform: scaleX(1); /*a 속성에 hover시 after를 기존 크기로 변경*/
}

.popular_video > .popular{
  margin-top: 50px;
}
.popular_video > .popular > .subTxt{
  display: flex;
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}
.popular_video > .popular > .subTxt p:nth-child(1){
  margin-left: 20px;
  /*outline: 1px solid coral;*/
}
.popular_video > .popular > .subTxt p:nth-child(2){
  margin-left: 245px;
  /*outline: 1px solid coral;*/
}
.popular_video > .popular > .subTxt p:nth-child(3){
  margin-left: 39px;
  /*outline: 1px solid coral;*/
}
.popular_video > .popular > .subTxt p:nth-child(4){
  margin-left: 340px;
  /*outline: 1px solid coral;*/
}
.popular_video > .popular > .subTxt p:nth-child(5){
  margin-left: 110px;
  /*outline: 1px solid coral;*/
}
.popular_video > .popular > .subTxt p:nth-child(6){
  margin-left: 55px;
  /*outline: 1px solid coral;*/
}

.video > ul{
  width: 1200px;
  display: flex;
  align-items: center;
  border-top: 1px solid #999;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.video > ul > li{
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.video > ul > li:nth-child(1){
  width: 350px;
  height: 190px;
}
.video > ul > li:nth-child(1) img{
  width: 370px;
  height: 190px;
  margin-left: -10px;
}
.video > ul img{
  border-radius: 20px;
  transition: all 0.3s;
}
.video > ul > li:hover > img{
  scale: 1.1;
}
.video > ul > li:nth-child(2){
  width: 90px;
  margin-left: 80px;
  font-size: 30px;
  text-align: center;
}
.video > ul:nth-child(2) > li:nth-child(1) img{
  margin-left: -20px;
}
.video > ul:nth-child(3) > li:nth-child(1) img{
  margin-left: -35px;
}
.video > ul:nth-child(4) > li:nth-child(1) img{
  margin-left: -63px;
}
.video > ul:nth-child(5) > li:nth-child(1) img{
  margin-left: -30px;
}

.video > ul > li:nth-child(3){
  width: 300px;
  line-height: 35px;
}
.video > ul > li:nth-child(3) > ul > li:nth-child(1){
  font-size: 28px;
}
.video > ul > li:nth-child(3) > ul > li:nth-child(2){
  color: #666;
  font-size: 22px;
}
.video > ul > li:nth-child(3) > ul > li:nth-child(3){
  color: #aaa;
  font-size: 20px;
}
.video > ul > li:nth-child(4){
  width: 280px;
  font-size: 20px;
  color: #666;
  margin-left: 220px;
}
.video > ul > li:nth-child(4) img{
  margin-bottom: -10px;
  margin-right: 10px;
}
.video > ul > li:nth-child(5){
  width: 150px;
  font-size: 20px;
  color: #666;
}
.video > ul > li:nth-child(5) img{
  margin-bottom: -10px;
  margin-right: 10px;
}
.video > ul > li:nth-child(6){
  width: 100px;
  font-size: 20px;
  color: #666;
}